<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
<!--<script>-->
<!--  alert('balababa');-->
<!--  function intervalFunc() {-->
<!--    console.log('Cant stop me now!');-->
<!--    alert('balababa');-->
<!--  }-->

<!--  setInterval(intervalFunc, 0.2*60*1000);-->
<!--</script>-->

</html>
